ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
ul li
{
/**background-image: url(sqpurple.gif);
background-repeat: no-repeat;
background-position: 0px 5px;**/
padding-left: 0px;
}
label
{
   font-size: small;
}
select
{
   font-size: x-small;
}

.today-text
{
   font-size: 2em !important;
}

.date
{
   font-weight: normal;
   font-size: x-small;
}

.date-rank-color
{
   text-align: center;
   font-style: normal;
   font-size: x-small;
}

.celeb
{
   text-align: center;
   font-style: italic;
   font-weight: bolder;
   font-size: medium;
   margin-top: 3px;
   margin-bottom: 3px;
   /**padding: 0pt;**/
}

.celeb-icon
{
   padding-right: 5px;
   float:left;
}


.easter-footer
{
   text-align: center;
   font-size: x-small;
}

.ui-center
{
   text-align: center;
   vertical-align: middle;
}

.ui-center-line
{
   text-align: center;
   vertical-align: middle;
   clear: none;
   line-height: 2;
}

.ui-right-line
{
   text-align: right;
   vertical-align: middle;
   clear: none;
   line-height: 2;
}

.ui-right
{
   float: right;
   text-align: right;
   vertical-align: middle;
}

.ui-left
{
   float: left;
   text-align: left;
   vertical-align: middle;
}

/* showMsg() messages use this style for short one-line messages. */
.ui-message
{
   position: relative;
   top: 50%;
   height: 70px;
   width:  240px;
   margin-top:-35px;
   margin-right: auto;
   margin-left: auto;

   border-radius: 1em 1em;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
   background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFAA ), to( orange )); /* Saf4+, Chrome */
   background-image: -webkit-linear-gradient(#FFFFAA , orange ); /* Chrome 10+, Saf5.1+ */
   background-image:    -moz-linear-gradient(#FFFFAA , orange ); /* FF3.6 */
   background-image:     -ms-linear-gradient(#FFFFAA , orange ); /* IE10 */
   background-image:      -o-linear-gradient(#FFFFAA , orange ); /* Opera 11.10+ */
   background-image:         linear-gradient(#FFFFAA , orange );
   z-index: 99;
   border: 1px solid #FFAD33;
   padding: 0.8em 1em;
   font-size: medium;
   font-weight:bolder;
   overflow: hidden;
   text-shadow: 0 1px 0 white;
   color: maroon;
   display:table;
}

/* Styles for liturgical colors */
.litcolor-table
{
   float:right;
   display: table;
   margin: 0;
   padding: 0;
   border-width: 0;
}

.litcolor
{
   float: right;
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   font-family: BB Alpha Sans, Helvetica, Arial, sans-serif;
   font-size: xx-small;
   border: solid silver 1px;
   padding: 1px 9px  1px;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
   border-radius: 1em;
   margin-right: 0.2em;
   text-shadow: 0 1px 0 silver;
}

.litcolor-red
{
   color: white;
   background: red;
}

.litcolor-green
{
   color: white;
   background: green;
}

.litcolor-white
{
   color: black;
   background: white;
}

.litcolor-violet
{
   color: white;
   background: purple;
}

.litcolor-rose
{
   color: white;
   background: #FF00FF;
}

.litcolor-black
{
   color: white;
   background: black;
}

/* TITLE BUTTONS: Text is too big, override defaults. */
.ui-header .ui-btn, .ui-footer .ui-btn, .ui-bar .ui-btn
{
   font-size: xx-small;
}
/* TITLE: Title is too small override defaults. */
#title,.ui-header .ui-title, .ui-footer .ui-title
{
   text-align: center;
   font-size: x-large;
   font-weight: bolder;
   display: block;
   margin: .1em 20px .1em;
   padding: 0;
   text-overflow: ellipsis;
   overflow: hidden;
   color: #0000CF;
}

/* CONTENT: Content has too much padding, override defaults. */
.ui-content
{
   border-width: 0;
   overflow: visible;
   overflow-x: hidden;
   padding: 15px 0px 0px 0px;
}

/* SEARCH BOX: override search box padding. */
.ui-input-search input.ui-input-text
{
   padding: 0.1em 0;
}

/* FONT: allow blackberry font if it exists. */
.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d
{
   font-family: BB Alpha Sans, Helvetica, Arial, sans-serif;
}

/* LI DESC: e.g. ordinary time , weekday, etc. Margins are too big, so
we override them here. */
.ui-li-desc
{
   margin: -2px 0px 3px;
   font-size: smaller;
}

/* HEADING: listview h6 heading padding is too much in default jquery css
so we overrride it here (e.g. Sixth Sunday in ordinary time)
 */
.ui-li-heading
{
   margin: 3px 4px;
   font-size: medium;
   font-weight: bolder;
}

/* DIVIDER: listview divider padding is too much in default jquery css
so we overrride it here (e.g. Friday November 30, 1989). We
also make the font lighter and smaller.
 */
.ui-li-divider, .ui-li-static
{
   padding-top: 0.2em;
   padding-bottom: 0.2em;
   font-weight: normal;
   font-size: x-small;
}

/* LI inner box: listview inner box padding is too much in default jquery css */
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li
{
   padding: 2px 13px 7px;
   margin: 0px;
}

/* ICON: listview thumbnail size is too big in default jquery css,
also center the image verticaly.  */
.ui-listview .ui-li-icon
{
   max-height: 40px;
   max-width: 40px;
   left: 7px;
   top: 29px;
}

/* FOOTER: Margin is too large, override jquery mobile settings. */
.ui-bar
{
   display: table;
   position: relative;
   padding: 2px;
   overflow: hidden;
   clear: both;
   font-size: x-small;
   text-align: center;
   vertical-align:middle;
}
/* Buttons in controlgroups */
.ui-controlgroup, fieldset.ui-controlgroup
{
   padding: 0;
   margin: 0.1em 0 0.1em;
}
