/****************************************************************
Tooltips from http://sixrevisions.com/css/css-only-tooltips/
****************************************************************/
.tooltip
{
   overflow: visible;
}

.tooltip span 
{
	margin-left: -999em;
	position: absolute;
}

.tooltip:hover span 
{
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 4em;
	top: -3em;
	z-index: 99;
	margin-left: 0;
}

.tooltip:hover img 
{
	border: 0;
	margin: -10px 0 0 -55px;
	float: left;
	position: absolute;
}

.tooltip:hover em 
{
	font-family: Candara, Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	padding: 0.2em 0 0.6em 0;
}


.custom 
{
	padding: 0.5em 0.8em 0.8em 2em;
}

* html a:hover 
{
	background: transparent;
}

.classic
{
  	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFAA ), to( orange )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#FFFFAA , orange ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#FFFFAA , orange ); /* FF3.6 */
	background-image:     -ms-linear-gradient(#FFFFAA , orange ); /* IE10 */
	background-image:      -o-linear-gradient(#FFFFAA , orange ); /* Opera 11.10+ */
	background-image:         linear-gradient(#FFFFAA , orange );
	border: 1px solid #FFAD33;
	padding: 0.8em 1em;
}

.critical 
{
	background: #FFCCAA;
	border: 1px solid #FF3334;
}

.help 
{
	background: #9FDAEE;
	border: 1px solid #2BB0D7;
}

.info 
{
	background: #9FDAEE;
	border: 1px solid #2BB0D7;
}

.warning 
{
	background: #FFFFAA;
	border: 1px solid #FFAD33;
}

